body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
  width: 100%;
  background-color: tomato;
}

.nav--title {
  color: white;
  margin-left: 1rem;
}

.auth {
  padding: 1rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth--username {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.auth--img {
  width: 3rem;
  object-fit: cover;
}

.auth--button {
  height: 2rem;
  width: 5rem;
}

#game-window {
  width: 1500px;
}

.main {
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#context-menu {
  overflow: hidden;
  position: absolute;
  z-index: 99999;
  width: 150px;
  background: #eaeaea;
  border-radius: 5px;
}

.context-menu--item {
  padding: 8px 10px;
  font-size: 15px;
  color: black;
  cursor: pointer;
  border-radius: inherit;
}

.context-menu--item:hover {
  background: #c9c9c9;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-levels {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#home-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: tomato;
  border-radius: 10px;
  height: 4rem;
  width: 20rem;
}

#home-navigation-link {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.home--level-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.home--level-preview--image {
  width: 40rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 10px;
}

.characters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.character-container {
  position: relative;
}

.character-icon {
  transition: 0.3s;
  object-fit: contain;
  width: 8rem;
  height: 8rem;
}

.character-tick {
  position: absolute;
  top: -20%;
  left: -10%;
  width: 11rem;

}

#game-window {
  width: 1500px;
}

#game-window-main {
  display: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#leaderboard-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
}

#leaderboard td, #leaderboard th {
  border: 1px solid #ddd;
  padding: 8px;
}

#leaderboard tr:nth-child(even){background-color: #f2f2f2;}

#leaderboard tr:hover {background-color: #ddd;}

#leaderboard th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: tomato;
  color: white;
}

.leaderboard-name-cell {
  max-width: 15rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.leaderboard-score-cell {
  max-width: 2rem;
}

.modal-background {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  transition: 0.3s;
  animation: pop 0.3s linear;
  position: fixed;
  width: 500px;
  height: 250px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modal-container .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.modal-container .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  gap: 20px;
  text-align: center;
}

.modal-close {
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.modal-button {
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  text-align: center;
  font-weight: bold;
}

.login-warning {
  height: 2rem;
  color: red;
}

.toast {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 10px;
  padding: 20px 45px 20px 35px;
  background-color: white;
  box-shadow:  0 5px 10px rgba(0, 0, 0, 0.35);
  border-left: 6px solid yellowgreen;
  width: 10rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  animation: slide-in 500ms ease, slide-out 500ms 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.toast-message-container {
  overflow: hidden;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

.toast-message-main {
  font-weight: bold;
}

@keyframes slide-in {
	from {
	  transform: translateX(100%);
	  opacity: 0;
	}
	to {
	  transform: translateX(0%);
	  opacity: 1;
	}
}

@keyframes slide-out {
	to {
	  transform: translateX(100%);
	  opacity: 0;
	}
}

@keyframes pop{
  50%  {transform: scale(1.2);}
}
