body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  background-color: tomato;
}

.nav--title {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0;
  margin-left: 1rem;
  text-align: center;
}

.auth {
  padding: 1rem;
  /* margin-left: auto; */
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth--username {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.auth--img {
  width: 3rem;
  object-fit: cover;
}

.auth--button {
  height: 2rem;
  width: 5rem;
}

.main {
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#context-menu {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 150px;
  background: #eaeaea;
  border-radius: 5px;
}

.context-menu--item {
  padding: 8px 10px;
  font-size: 15px;
  color: black;
  cursor: pointer;
  border-radius: inherit;
}

.context-menu--item:hover {
  background: #c9c9c9;
}

#home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-levels {
  position: relative;
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#home-navigation {
  padding: 10px;
  background-color: #FF3814;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  height: 2rem;
  width: 10rem;
}

#home-navigation-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  align-self: center;
  justify-self: center;
}

.home--level--container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 38rem;
  height: 26rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.home--level-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.home--level-title {
  padding: 1.5rem;
  margin-right: auto;
}

.home--level-preview--image {
  width: 38rem;
  height: 22rem;
  object-fit: cover;
  border-radius: 10px;
}

.home--level-characters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-right: 1rem;
}

.home--level-character {
  width: 3rem;
}

.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.characters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.character-container {
  font-weight: bold;
  font-size: 1.2rem;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.character-icon {
  transition: 0.3s;
  object-fit: contain;
  width: 4rem;
  height: 4rem;
}

.character-tick {
  position: absolute;
  top: -30%;
  left: 40%;
  width: 7rem;

}

#game-window {
  max-width: 100%;
  align-self: center;
}

#game-window-main {
  display: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-window-side {
  border-radius: 10px;
  width: 11rem;
  left: 50px;
  top: 100px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}

.game-window-side-title {
  transition: 0.5s;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  background-color: grey;
  width: inherit;
  height: 50px;
  border: none;
  cursor: pointer;
  opacity: 70%;
}

.game-window-side-title:hover {
  transition: 0.5s;
  background-color: rgb(84, 84, 84);
  opacity: 100%;
}

.details-active {
  opacity: 100%;
}

.game-window-side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.game-window-side-background {
  padding: 10px;
}

#leaderboard-main {
  margin: 2rem 10% 2rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

#leaderboard td, #leaderboard th {
  border: 1px solid #ddd;
  padding: 8px;
}

#leaderboard tr:nth-child(even){background-color: #f2f2f2;}

#leaderboard tr:hover {background-color: #ddd;}

#leaderboard th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: tomato;
  color: white;
}

.leaderboard-name-cell {
  max-width: 15rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.leaderboard-score-cell {
  max-width: 2rem;
}

.modal-background {
  position: absolute;
  width: 100%;
  /* min-height: 50%; */
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

.modal-container {
  z-index: 2;
  transition: 0.3s;
  animation: pop 0.3s linear;
  position: fixed;
  top: 25%;
  width: 500px;
  height: 250px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modal-container .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.modal-container .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  gap: 20px;
  text-align: center;
}

.modal-close {
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.modal-button {
  transition: 0.3s;
  cursor: pointer;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  text-align: center;
  font-weight: bold;
}

.modal-button:hover {
  transition: 0.3s;
  background-color: #FF3814;
}

.login-warning {
  height: 2rem;
  color: red;
}

.toast {
  z-index: 1;
  position: absolute;
  top: 2rem;
  right: 3rem;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: white;
  box-shadow:  0 5px 10px rgba(0, 0, 0, 0.35);
  border-left: 6px solid yellowgreen;
  width: 10rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fade-in 500ms ease, fade-out 500ms 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.toast-message-container {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

.toast-message-main {
  font-weight: bold;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 5rem;
  width: 12rem;
  border-radius: 10px;
  background-color: tomato;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.select {
  width: 8rem;
  background-color: white;
  border: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

@keyframes fade-in {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
}

@keyframes fade-out {
	to {
	  opacity: 0;
	}
}

@keyframes pop{
  50%  {transform: scale(1.2);}
}

@media (max-width: 1000px) {
  .nav {
    flex-direction: column-reverse;
    height: fit-content;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    padding: 0;
  }
  .nav--title {
    margin: 0;
  }
  .home--level--container {
    width: 90%;
    height: 30%;
  }
  .home--level-preview--image {
    width: 100%;
    height: 30%;
  }
  .game-window-side {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .characters-container {
    flex-direction: row;
  }
  .home--level-character {
    width: 2rem;
  }
}

@media (max-height: 500px) {
  .nav {
    flex-direction: row;
  }
}